<section class="backdrop-modal">
  <dialog open #registerDialog>
    <header>
      <button (click)="registerDialog.close()" [routerLink]="['', { outlets: { auth: null } }]" class="close-btn">X</button>
    </header>
    <p>Login popup works!</p>
    <form>
      <fieldset>
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Password">
      </fieldset>
      <button (click)="authService.login()" [routerLink]="['', { outlets: { auth: null } }]">Login</button>
    </form>
  </dialog>
</section>
