.backdrop-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(0, 0, 0, .2);
}

dialog {
  header {
    text-align: right;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }
}

input, button {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

button {
  cursor: pointer;
}
