dialog {
  header {
    text-align: right;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }
}

input, button {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

button {
  cursor: pointer;
}
